REACT_APP_RE_CAPTCHA_SITE_KEY={{re_captcha_site_key}}
API_HOST={{api_host}}
API_PORT={{api_port}}
SSL_PORT={{app_service_container_port}}
{% if self_cert_domain is defined %}
DOMAIN={{self_cert_domain}}
{% endif %}